doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title PHPStorm: Not yo mama’s IDE

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body
    header PHPStorm: Not yo mama’s IDE

    article

      section(data-bespoke-hash='title')
        h1 <img class='image-logo' src='images/0-logo.png' /> PHPStorm: Not yo mama’s IDE
        .small You get WebStorm for free* ("PhpStorm comes with all features of WebStorm and adds full-fledged support for PHP and Databases/SQL")

      section(data-bespoke-hash='teaser')
        .columns.two
          .column.left
            img.image-teaser(src='images/teaser-rap_battle.gif')
          .column.right
            img.image-teaser(src='images/teaser-parks_and_rec.gif')

      section(data-bespoke-hash='contents')
        h2 Table of Contents
        .bullet(style='width:82%')
          ul.no-bullets Code Editor vs IDE
            li Tools like Coda versus PHPStorm
        .bullet
          ul.no-bullets Illustrating the following claims from the <a href="https://www.jetbrains.com/phpstorm/">PHPStorm Website</a>
            li Intelligent Coding Assistance
            li Smart Code Navigation
            li Fast and Safe Refactoring
            li Easy Debugging and Testing
            li: strike Frameworks Support
            li VCS, Deployments, Tools
        .bullet(style='width:82%')
          ul.no-bullets Workflow enhancements
            li Useful plugins
            li Code Style

      section(data-bespoke-hash='versus', data-bespoke-backdrop='versus')
        h2 Code Editor vs IDE
        .columns.two
          .column.left.bullet Editor
            ul.no-bullets
              li lightweight/fast
              li file/folders
              li many languages
              li many workflows
              li keyboard centered
          .column.right.bullet IDE
            ul.no-bullets
              li project systems
              li code understanding
              li debug
              li integrated build
              li designers
              li ALM integration
              li platform tools

      section(data-bespoke-hash='assistance', data-bespoke-backdrop='phpstorm')
        h2 Intelligent Coding Assistance
        img.image-header(src='images/1-assistance.png')

      section(data-bespoke-hash='navigation', data-bespoke-backdrop='phpstorm')
        h2 Smart Code Navigation
        img.image-header(src='images/2-navigation.png')

      section(data-bespoke-hash='refactoring', data-bespoke-backdrop='phpstorm')
        h2 Fast and Safe Refactoring
        img.image-header(src='images/3-refactoring.png')

      section(data-bespoke-hash='debugging', data-bespoke-backdrop='phpstorm')
        h2 Easy Debugging and Testing
        img.image-header(src='images/4-debugging.png')

      section(data-bespoke-hash='vcs', data-bespoke-backdrop='phpstorm')
        h2 VCS, Deployments, Tools
        img.image-header(src='images/5-vcs.png')

      section.emphatic-text(data-bespoke-hash='workflow', data-bespoke-backdrop='workflow')
        h2 Workflow enhancements
        img.image-header(src='images/workflow-office_space.gif')

      section(data-bespoke-hash='plugins', data-bespoke-backdrop='workflow')
        h2 Useful plugins
        ul
          li .ignore
            span.hidden - Supports just about every vcs ignore file in existence
          li Apache config (.htaccess) support
            span.hidden - Syntax highlighting and code completion
          li Atlassian Connector for IntelliJ IDE
            span.hidden - Integration JIRA workflows directly in the IDE. Bye bye web browser!
          li Behat Support
            span.hidden - Behat BDD test framework for PHP
          li CodeGlance
            span.hidden - Embeds a code minimap
          li Dummy Text Generator
            span.hidden - Generate dummy text from several genres like Pirate Lingo or Science Fiction
          li Git Flow Integration
          li NodeJS
            span.hidden - Congratulations, you can now work with the primary project type WebStorm uses

      section(data-bespoke-hash='style', data-bespoke-backdrop='workflow')
        h2 Code Style
        p No more religious wars over what works better, tab or spaces. There is fine-grained controls for
          | determining just how verbose or concise the formatting should be.
        ul Sections
          li Tabs and Indents
          li Spaces
            span.hidden - Spaces before, within, or after declaration elements
          li Wrapping and Braces
            span.hidden - Braces on the same line vs new line
          li Blank Lines
            span.hidden - Blank lines before or after declaration elements
          li PHPDoc
            span.hidden - Formatting PHPDoc comments
          li Other
            span.hidden - Misc. items like convert bool constant to lower/uppercase
          li Arrangement
            span.hidden - Arranges contents based on declaration groupings

      section(data-bespoke-hash='questions')
        h2 Questions?
        img.image-header(src='images/questions-bzzzt.gif')
        p Grab the <a href="https://www.jetbrains.com/phpstorm/download/">30 day trial</a>

    footer
      a(href="http://braytonium.com") braytonium.com

    script(src='build/build.js')
