doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title PHPStorm: Not yo mama’s IDE

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section(data-bespoke-hash='title')
        h1 PHPStorm: Not yo mama’s IDE
        .small You get WebStorm for free* ("PhpStorm comes with all features of WebStorm and adds full-fledged support for PHP and Databases/SQL")

      section(data-bespoke-hash='contents')
        h2 Table of Contents
        p Illustrating the following claims from the <a href="https://www.jetbrains.com/phpstorm/">PHPStorm Website</a>
        ul
          li Intelligent Coding Assistance
          li Smart Code Navigation
          li Fast and Safe Refactoring
          li Easy Debugging and Testing
          li: strike Frameworks Support
          li VCS, Deployments, Tools
        p Workflow enhancements
        ul
          li Useful plugins
          li Code Style

      section(data-bespoke-hash='assistance')
        h2 Intelligent Coding Assistance
        img.image-header(src='images/1-assistance.png')

      section(data-bespoke-hash='navigation')
        h2 Smart Code Navigation
        img.image-header(src='images/2-navigation.png')

      section(data-bespoke-hash='refactoring')
        h2 Fast and Safe Refactoring
        img.image-header(src='images/3-refactoring.png')

      section(data-bespoke-hash='debugging')
        h2 Easy Debugging and Testing
        img.image-header(src='images/4-debugging.png')

      section(data-bespoke-hash='vcs')
        h2 VCS, Deployments, Tools
        img.image-header(src='images/5-vcs.png')

      section.emphatic-text(data-bespoke-hash='workflow', data-bespoke-backdrop='emphatic')
        h2 Workflow enhancements
        ul
          li Useful plugins
          li Code Style

      section(data-bespoke-hash='plugins')
        h2 Useful plugins
        ul
          li .ignore - Supports just about every vcs ignore file in existence
          li Apache config (.htaccess) support - Syntax highlighting and code completion
          li Atlassian Connector for IntelliJ IDE - Integration JIRA workflows directly in the IDE. Bye bye web browser!
          li Behat Support - Behat BDD test framework for PHP
          li CodeGlance - Embeds a code minimap
          li Dummy Text Generator - Generate dummy text from several genres like Pirate Lingo or Science Fiction
          li Git Flow Integration
          li NodeJS - Congratulations, you can now work with the primary project type WebStorm uses

      section(data-bespoke-hash='formatting')
        h2 Code Style
        p No more religious wars over what works better, tab or spaces. There is fine-grained controls for
          | determining just how verbose or concise the formatting should be.
        ul Sections
          li Tabs and Indents
          li Spaces - Spaces before, within, or after declaration elements
          li Wrapping and Braces - Braces on the same line vs new line
          li Blank Lines - Blank lines before or after declaration elements
          li PHPDoc - Formatting PHPDoc comments
          li Other - Misc. items like convert bool constant to lower/uppercase
          li Arrangement - Arranges contents based on declaration groupings

      section(data-bespoke-hash='questions')
        h2 Questions?
        p Tough shit :>
        p Grab the <a href="https://www.jetbrains.com/phpstorm/download/">30 day trial</a>

    script(src='build/build.js')
